@model BarberShop.Models.Kullanici

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Adi"></label>
        <input asp-for="Adi" class="form-control" />
        <span asp-validation-for="Adi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyadi"></label>
        <input asp-for="Soyadi" class="form-control" />
        <span asp-validation-for="Soyadi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sifre"></label>
        <input asp-for="Sifre" type="password" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Register</button>
</form>
